<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- eRecipeBox Settings -->
	<appSettings>

		<!-- This URL is visited when clicking the Help button -->
		<add key="UserEdHelpVideoURL" value="http://www.bit.ly/eRecipeBoxDemo01" />

		<!-- Encryption keys here. -->
		<add key="AesEncrypKey" value="EB8FA6F9A8430073BA14BD8156A55801D3BF8512DEF41CC73CB463C26D7AAE81" />
		<add key="AesEncrypIv" value="D272BA22D262E03726BD90359B0C3083" />

		<!-- GPT account API Key.  Open app, Click Admin tab.  Click Encrypt App Setting.  Past the result here. -->
		<add key="EncryptedGptApiKey" value="EE6AC4070DFE17D81F7C6B064C34710C67EB6ECFA489579D8D6D04E3A0AF2E200914CEEE5084540253B28A764BF45AEE30347777CAC8B80788068209730915A5" />

		<!-- Azure subscription key and region.  Must have speech recognition service.  Open eRecipeBox, Click Admin tab.  Click Encrypt App Setting.  Past the result here. -->
		<add key="EncryptedAzureSubscriptionKey" value="91E00BF99A075499D1BBE2D8CB14AD13179BCF81F1DEDBE3BEDD7D8404B3E70F04254E1E83857FC1F1EB5040C11CE3C1" />
		<add key="AzureSubscriptionRegion" value="eastus" />

		<!-- If true, uses RecipesService connection below to connect to XPO DataStore Service, else uses Recipes connection string  -->
		<add key="UseWCF" value="false" />

		<!-- All DataStore backups are stored in this root folder, one subfolder for each DataStore name. -->
		<add key="RootDirectoryDataStoreBackups" value=".\..\..\..\..\eRecipeBoxDataStoreBackups" />

		<!-- If true, logs all control accessiblity IDs to WindowElementNames and FormEnums in LogFiles folder. Also, must be set to true when running automated tests. -->
		<add key="SystemTestLogging" value="true" />

	</appSettings>


	<!-- This section contains the connection strings for eRecipeBox DataStore -->
	<!-- If UseWCF above == false, "Recipes" setting will be used to connect to a LAN database. -->
	<!-- If UseWCF above == true, "RecipesService" setting will be used to connect to an XPO service via WCF. -->
	<!-- Passwords must be encrypted. Open app, Click Admin tab.  Click Encrypt App Setting.  Past the result here. -->
	<connectionStrings>
		<!-- Persist Security Info is required for running backups. T1189484 -->
		<add name="Recipes" connectionString="XpoProvider=MSSqlServer;Server=localhost;initial catalog=recipeTest1;Trusted_Connection=True" />
		<add name="RecipesPROD" connectionString="XpoProvider=MSSqlServer;Server=localhost;initial catalog=recipesprod;Trusted_Connection=True" />
		<add name="RecipesLanSQLServer" connectionString="XpoProvider=MSSqlServer;Data Source=192.168.1.88;initial catalog=recipeTest1;user id=sa;password=700A7AB00A01B51AB4F005BFF735FFAE;Persist Security Info=true" />
		<add name="RecipesPG" connectionString="XpoProvider=Postgres;Host=localhost;Username=postgres;Password=7AB01B51AB4FF735FFAE00A;Database=recipeTest1;Encoding=UNICODE;Persist Security Info=true" />
		<add name="RecipesSL" connectionString="XpoProvider=SQLite;Data Source=SQLiteData\recipeTest1.sqllitedb" />
		<add name="RecipesServiceProdIP" connectionString="https://214.234.51.161:5757/service" />
		<add name="RecipesServiceDevLANIP" connectionString="https://192.168.1.24:5757/service" />
		<add name="RecipesService" connectionString="https://localhost:5757/service" />
	</connectionStrings>

	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Office 2019 Colorful</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value>Yale</value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value>Tahoma;9.75</value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.35.0.0" newVersion="4.35.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

</configuration>