<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- eRecipeBox Settings -->
	<appSettings>

		<!-- Encryption keys here. -->
		<add key="AesEncrypKey" value="EB8FA6F9A8430073BA14BD8156A55801D3BF8512DEF41CC73CB463C26D7AAE81" />
		<add key="AesEncrypIv" value="D272BA22D262E03726BD90359B0C3083" />

		<!-- This URL is visited when clicking the Help button -->
		<add key="UserEdHelpVideoURL" value="http://www.bit.ly/eRecipeBoxDemo01" />
		
		<!-- All DataStore backups are stored in this root folder, one subfolder for each DataStore name. -->
		<add key="RootDirectoryDataStoreBackups" value=".\..\..\..\..\eRecipeBoxDataStoreBackups" />

	</appSettings>

	<connectionStrings>
		<add name="Recipes" connectionString="XpoProvider=SQLite;Data Source=SQLiteData\recipeTest1.sqllitedb" />
	</connectionStrings>

	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Office 2019 Colorful</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value>Yale</value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value>Tahoma;9.75</value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<runtime>		
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

</configuration>