<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>		
		<add key="WinAppDriverExePath" value="C:\Program Files\Windows Application Driver\WinAppDriver.exe" />
		<add key="eRecipeBoxBinFolder" value=".\..\..\..\..\eRecipeBoxSystem\eRecipeBox\bin\Debug" />		
		<add key="DefaultPauseDuration" value="2" />
	</appSettings>
	
</configuration>